---
extends: frontpage.j2
title: Home
description: TechGeneral is a technology generalist blog by Neil Blakey-Milner, current Production Engineer at Facebook, formerly Lead Architect of Yola, Lead Developer of KnowledgeTree, and other startups.  It discusses general technology topics, and includes mainly Python code.
---

{% block intro %}
## About Neil ##

Hey!  I'm not sure what I want to be when I grow up, so I call myself a
technology generalist.

I've led development teams (at [KnowledgeTree]), been a systems administrator,
been an "architect" (at [Yola]), and am currently a "Production Engineer" at
[Facebook], where I do whatever work is necessary to make systems there more
reliable and efficient.

[KnowledgeTree]: http://www.knowledgetree.com/
[Yola]: http://www.yola.com/
[Facebook]: http://www.facebook.com/
{% endblock %}

{% block main %}

## Posts ##

<table class="posts">
{% for dd, post in site.content.walk_resources_sorted_by_time()|datedposts %}

<td class="year  {{ "y%d" % dd.firsty }}">{{ "%04d" % dd.year  }}</td>
<td class="month {{ "m%d" % dd.firstm }}">{{ "%02d" % dd.month }}</td>
<td class="day   {{ "d%d" % dd.firstd }}">{{ "%02d" % dd.day   }}</td>
<td class="post">
<a class="post" href="{{ content_url(post.url) }}">{{ post.meta.title }}</a>
{{ post.meta.description|markdown }}
</td>

{% endfor %}
</table>

{% endblock %}

